.header {
    position: fixed;         /* Fixes the header to the top of the screen */
    top: 0;                  /* Aligns the header to the top */
    left: 0;                 /* Aligns the header to the left */
    width: 100%;             /* Makes the header span the full width of the viewport */
    background-color: #fff; /* Background color of the header */
    color: #fff;         /* Text color */
    padding: 10px 20px;      /* Padding inside the header */
    text-align: center;      /* Center-align the text */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); Subtle shadow effect */
    z-index: 1000;           /* Ensures the header is on top of other content */
}

.header-title {
    margin: 0;               /* Remove default margin */
    font-size: 18px;         /* Font size for the header title */
    font-weight: 700;        /* Font weight */
}


